
{% extends 'base.html' %}

{% block content %}


<hr>


<div class="row">
    {% for each in object_list %}
    <div class="col" style="margin-left: 10px;margin-right: 10px;margin-bottom: 10px;margin-top: 10pxs;">
        <div class="card" style="width: 13rem;">
            <img src="{{ each.image_url }}" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: rgb(13, 3, 57);">
                <h5 class="card-title" style="color: aliceblue;">{{ each.title|slice:":25"}} ...</h5>
                <p class="card-text" style="color: aliceblue;">Buy Merch :Rs{{ each.price|floatformat:2 }}</p>                
                {% if each.book_available is True %}
                <li class="text-primary">Available</li>
                {% else %}
                <li class="text-danger">Out of Stock !</li>
                {% endif %}<br>
                <a href="{% url 'detail' each.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}

